@charset "UTF-8";
/* CSS Document */

*, *:before, *:after{
/*To keep boxs within rows even with padding*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	margin: 0;
}

.wrapper{
/*Used to center the website*/
  max-width:960px;
  margin: 0 auto;
}

.grid{
/*Used to change things inside of the grid*/
  background-color:;
  clear: both;
}

.grid:after{
  /*this is making grid expand to contain floated columns*/
  content: "";
  display: table;
  clear: both;
}

[class*='column-']{
   /*Float all columns to the left with a boarder*/
  float: left;
  padding-right: 50px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.grid .grid [class*='column-']{
/*Selctor for the column- that are in a grid inside of a grid*/
  padding: 0 25px;
}

.grid .grid{
/*Selctor of a grid inside of a grid*/
  margin: 0 -25px 25px;
}

[class*='column-']:last-of-type{
/*Any last element with a class that includes column- will be rid of padding*/
  padding-right: 0px;
}

header{
	overflow: auto;
	position: fixed;
	background: grey;
	width: 100%;
	margin: 0 auto;
	max-width: 1170px;
	z-index: 1;
	width: 960px;
}

nav li{
	none;
	display: inline;
}

img{
	width: 100%;
}

input{
	width: 400px;
}

.button{
	width: 100px;
}

.hero {
  width:100%;
  height: 400px; 
  background:url(http://placehold.it/960x400) no-repeat;
  background-size:100%;
  background-position:center;
  margin-bottom: 20px;
}

.hero img {
  width:auto;
}

.newsfeed img{
	width: auto;
}

.media img{
  float: left;
  margin-right: 0.5em;
  display: block;
  width: 120px;
  overflow: hidden;
  padding: 1em;
}







/*The columns for the grid*/
.column-1-12{
  width: 8.33%;
}

.column-2-12{
  width: 16.66%;
}

.column-3-12{
  width: 25%;
}

.column-4-12{
  width: 33.33%;
}

.column-5-12{
  width: 41.66%;
}

.column-6-12{
  width: 50%;
}

.column-7-12{
  width: 58.33%;
}

.column-8-12{
  width: 66.66%;
}

.column-9-12{
  width: 75%;
}

.column-10-12{
  width: 83.33%;
}

.column-11-12{
  width: 91.66%;
}

.column-12-12{
  width: 100%;
}

textarea {
	width: 100%;
	height: 90px;
}

/*helper classes*/
.clear{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

.center{
	float: none;
	margin: 0 auto;
}

/*Code used to change css for mobile site*/
@media only screen and (max-width: 700px){
  [class*='column-']{
	 /*Used to span everything accross the screen*/
    width: 100%;
  }
  .wrapper{
	 /*Used to center the website on the mobile website*/
    max-width: 500px;
    padding: 0 auto;
  }
  
  .column-mobile{
	width: 50%;
}

.mobile-hidden{
	display: none;
}

.mobile-img{
	width: auto;
}
}